*{
    margin: 0;
}
header{
    background: #eee;
    overflow: auto;
    padding: 20px;
    font-size: 20px;
}
header .appname{
    float: left;
}

header .logedin{
    float: right;
}